/**
 * Custom training CSS, to practise a bit the Reveal.js back-end of AsciiDoctor
 */


/* I dont like the font size, changing it a bit */
.reveal h1 {
    font-size: 2.77em; 
}


/* if we want all slides to be left-aligned */
/*.reveal p { 
	text-align: left; 
}*/


/* a class selector, to custom some given text using the syntax "[CYAN]#some text#" */
.CYAN {
    color: cyan;
}

.myOrange {
    color: #FF6A00;
}

.LICENSE {
    font-size: 0.2em;
}

.reveal strong,
.reveal b {
 	color: #BA3925; 
 }

/* To change the color of admonition block icons */
.admonitionblock td.icon {
  color: #BA3925;
}


.reveal section.title h1 {
    margin-top: 0.1em;
}

.reveal section.title small {
    margin-top: 15.3em;
    font-weight: bold;
    color: white;
}